.parent {
  height: auto;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 10px;
  height: 100%;
  width: 100%;

  .image {
    height: 150px;
    width: 150px;
  }

  .card:hover .image {
    opacity: 0.3;
  }
  
  .card:hover .text {
    opacity: 1;
    position: relative;
    display: block;
  }

  .text {
    transition: .5s ease;
    opacity: 0;
    display: block;
    position: relative;
    // top: 50%;
    left: 60px;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .image {
    opacity: 1;
    display: block;
    // width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
    background-color: rgb(219, 219, 213);
    height: 50vh;
    align-items: center;

    h4 {
      margin-top: 100px;
      font-family: 'Montserrat', sans-serif;
      font-size: 1em;


    }

    p {
      font-family: 'Montserrat Subrayada', sans-serif;
    }
    
  }
  
  .visual {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
  }
  
  
  .h4 {
    margin: 0;
    margin-top: -100px;
  }
  
}